.filActu {
	text-align: center;
}
.header {
	text-align: center;
	background-color: rgb(196, 196, 196);
}
h1 {
	float: left;
	vertical-align: middle;
	margin: 0;
}
.iconeProfil {
	margin-left: auto;
	vertical-align: middle;
}
.logout {
	float: right;

	vertical-align: middle;
}
.miniature {
	margin: 10px;
	width: 30%;
	height: 30%;
}
.photo {
	width: 60%;
	height: 60%;
}
.username {
	font-weight: bold;
}
.descriptionPhoto {
	font-style: italic;
}
.infosPhoto {
	position: relative;
}
.commentaires {
	position: absolute;
	width: 40%;
	right: 0;
	top: 0;
}
